{% extends 'index.html' %}
{% load static %}
{% load cart_tag %}
{% block body %}


<h1 align="center">
<p>My Cart......!</p>
Your Amazon Cart is empty
</h1>

<body>



{% comment %} {{cart}}
{{cart.product_name}} {% endcomment %}
{% comment %} {{cart.product_name}} {% endcomment %}



  
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card body">
          {% comment %} {% if %} {% endcomment %}
          {% for key,value in request.session.cart.items %}
            <div class="row" style="margin-bottom:40px">
              <div class="col-md-2 my-auto">
                <div class="category-image" >
                  <img src="{{value.image}}" class="card-img-top w-100 "  alt="category image">
                </div>
                
              </div>
              <div class="col-md-3 my-auto">
                <div>
                <div class="category-name" >
                  {{value.name}} 
                </div>
              </div>
              </div>
              <div class="col-md-2 my-auto">
                <div class="category-name" >
                  {{value.price}} 
                </div>
              </div>
              <div class="col-md-3 my-auto">
                <div class="category-name" >
                  <a class="btn btn-info  quantity" href="{% url 'item_decrement' value.product_id %}"> -</a>
                  <input type="text" name="quantity" style="width:50px;  height:50px; display: initial; "  class="form-control text-center"  size="2" value=" {{value.quantity}}">

                  <a class="btn btn-info  quantity"href="{% url 'item_increment' value.product_id %}">+</a>

                </div> 
              </div>
              <div class="col-md-2 my-auto">
                <div class="category-name" >
                      <a href="#" class="btn btn-info form-inline">Buy</a>&nbsp
                        <a  class="btn btn-info addToCartBtn" href="{% url 'item_clear' key %}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                        </a>
                </div>
              </div>
              <div class="col-md-2 my-auto">
                <div class="category-name" >
                  Total 
                ₹ {{ value.price|multiply:value.quantity }} 
                </div>
              </div>
            </div>
         
           

             
 
          {% endfor %}
          {% comment %} {% elif %} {% endcomment %}
          
          {% comment %} {% endif %} {% endcomment %}
          <div align="right">
            <h4>
            Subtotal:
             ₹ {{cart_total_amount}}
            </h4> 
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

</div>



 

{% comment %} <a class="quantity" href="">-</a>
<input type="text" name="quantity" style="width:50px; display: initial; "  class="form-control text-center"  size="2" value="1">

<a class="quantity" href="">+</a> {% endcomment %}

</body>
{% endblock body %}