<html>
<body>
    {% comment %} <form method="post" action="/ResetPassword?return={{request.get_full_path}}" >
        {% csrf_token %}
       {{form.as_p}}
        
        <button type="submit" class="btn btn-warning">Submit</button>
    </form> {% endcomment %}
    <form action="" method="post"  >
        {% csrf_token %}
        {%if form.non_field_errors%}
            {% for error in form.non_field_errors%}
                <p>{{error}}</p>
            {% endfor%}
        {%endif%}
    
        {%for fm in form%}
            {{fm.label_tag}} {{fm}} {{fm.errors | striptags}} <br> <br>
        {%endfor%}
        
        <button type="submit" class="btn btn-warning">Submit</button>
    </form> 
    {% comment %} <div class="modal fade overflow-auto" id="ResetPasswordModal" tabindex="-1" aria-labelledby="ResetPasswordModel" aria-hidden="true">
        <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header  bg-warning">
                    <h5 class="modal-title" id="ResetPasswordModelTitle">Reset Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                </div>
            </div>
        </div>
    </div>  {% endcomment %}
         
    

</body>
</html>